@import "../../assets/css/variables.scss";
@import "../../assets/css/mixins.scss";

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 7.75em);
}

.login {
  width: 80%;
  max-width: 28em;
  background-color: $sub-bg-dark-color;
  border-radius: 0.625em;
  border-top: 0.125em solid $main-blue;
  padding: 2.5em 1.25em;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.5em;

    &--label {
      color: white;
    }

    &--input {
      width: 100%;
      margin-bottom: 1.25em;
      height: 2.5em;
      border-radius: 0.5em;
      border: 0px solid;
      padding: 0.625em;

      &:focus {
        outline: 1px solid $main-blue;
        border: 1px solid $main-blue;
      }
    }

    &--btn {
      align-self: flex-end;
    }
  }
}
