@use "../../assets/sass/sass-utils/" as *;

.btn {
  border-radius: 0.5em;
  border: 0px solid;
  height: 2.5em;
  padding: 0 1.25em;

  &:hover {
    cursor: pointer;
  }
}

.btn--blue {
  background-color: $main-blue;
  color: $font-color-light;
}

.btn--red {
  background-color: $red-label-bg;
  color: $red-label-bote;
  border: 1px solid $red-label-bote;
}

.btn--green {
  background-color: $green-label-bg;
  color: $green-label-bote;
  border: 1px solid $green-label-bote;
}

.btn--light-blue {
  background-color: $blue-label-bg;
  color: $blue-label-bote;
  border: 1px solid $blue-label-bote;
}

.btn--yellow {
  background-color: $yellow-label-bg;
  border: 1px solid $yellow-label-bote;
  color: $yellow-label-bote;
}
