@use "../sass-utils/" as *;

body {
  background: $main-bg-dark-color;
  font-family: "Open sans", sans-serif;
}

// Class for screen Readers
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

main {
  min-height: calc(100vh - 7.75em);
  max-width: 90em;
  margin: 0 auto;
  padding: 0em 1.25em;
}
