@use "../sass-utils/" as *;

// import font
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@300;500&display=swap");

p {
  color: $font-color-light;
}

h1 {
  font-size: $mobile-font-size-h1;

  @include for-tablet {
    font-size: $font-size-h1;
  }
}

h2 {
  font-size: $mobile-font-size-h2;
  color: $font-color-light;
  font-weight: normal;

  @include for-tablet {
    font-size: $font-size-h2;
  }
}

h3 {
  font-size: $mobile-font-size-h3;
  color: $font-color-light;

  @include for-tablet {
    font-size: $font-size-h3;
  }
}

.title--white {
  color: $font-color-light;
}

.title--blue {
  color: $font-color-blue;
}

.text-center {
  text-align: center;
}

.error-msg {
  color: $red-label-bote;
  padding: 0;
  font-size: 1em;
}

.small {
  font-size: 0.625em;
  font-weight: normal;
}
