@use "../../assets/sass/sass-utils/" as *;

.add-employee {
  padding-top: 1.25em;
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 0.25em;
  margin: 0 auto;
}

.form-container {
  display: flex;
  justify-content: center;
}

.employee-form {
  padding: 0.5em 2.5em;
  border-radius: 0.625em;
  background-color: $sub-bg-dark-color;
}
