@use "../../assets/sass/sass-utils/" as *;

.profile-cards {
  padding-bottom: 1.25em;
  border-bottom: 1px solid #4e4f57;
}
.h3-employees {
  margin: 0.5em 0;
}
.employees {
  flex-wrap: wrap;
}

.buttons {
  margin-top: 1.25em;
}

.delete {
  color: $red-label-bote;
}

.reactivate {
  color: $green-label-bote;
}

.greyed {
  color: $grey-medium;
  background: none;
  border: none;
  text-decoration: underline;
  cursor: not-allowed;
}
