@use "../../assets/sass/sass-utils/" as *;

.report-item__cards {
  & .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2.5em;

    & h3 {
      font-size: 2em;
    }

    &__paragraph--big {
      margin-top: 0.2em;
      font-size: 1.5em;
      color: $main-blue;
    }
  }
}

span {
  border-radius: 0.5em;
  padding: 0em 0.93em;
}

.red {
  background-color: $red-label-bg;
  border: 1px solid $red-label-bote;
  color: $red-label-bote;
}

.green {
  background-color: $green-label-bg;
  border: 1px solid $green-label-bote;
  color: $green-label-bote;
}

.report-text {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.buttons {
  display: flex;
  gap: 1.25em;
  justify-content: center;
  margin-bottom: 2.5em;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;

  & .report-image {
    width: 20em;
    height: 20em;
  }
}

.stat-del {
  display: flex;
  justify-content: space-between;
}

button.delete,
button.reactivate {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}
