// import seperate scss files
@import "./reset.scss";
@import "./font.scss";

// import variables & Mixins
@import "./variables.scss";
@import "./mixins.scss";

body {
  background: $main-bg-dark-color;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

main {
  min-height: calc(100vh - 124px);
  max-width: 90em;
  margin: 0 auto;
  padding: 0em 1.25em;
}
