@use "../../assets/sass/sass-utils/" as *;

.content-sub-header {
  padding: 2.5em 0em 1.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-weight: normal;
  }

  & .container-button-select {
    display: flex;
    gap: 1.25em;

    & form {
      align-self: center;

      & select {
        height: 2.5em;
        border-radius: 0.5em;
        background: white;
        padding-left: 0.5em;
        border: 1px solid $main-blue;
        color: $main-blue;

        & select {
          border-radius: 2em;
        }
      }
    }
  }
}

.top-bar {
  display: none;

  @include for-desktop {
    background-color: $sub-bg-dark-color;
    display: flex;
    padding: 0.56em 1.25em;
    border-radius: 0.5em;
  }

  &__date-time {
    min-width: 12em;
  }

  &__report {
    width: 58em;
  }

  &__status {
    min-width: 10em;
  }

  &__comments {
    min-width: 5.2em;
  }

  & span {
    color: $font-color-light;
    width: 100%;
  }
}

.hide {
  display: none;
}
