@import "../../assets/css/variables.scss";
@import "../../assets/css/mixins.scss";

.report-item {
  display: flex;
  flex-direction: column;
  padding: 1em 0em;

  @include for-desktop {
    margin: 0em 1.25em;

    min-width: 19em;
  }

  @include for-desktop {
    flex-direction: row;
  }

  &__date {
    width: fit-content;
    padding: 0.2em 0.92em;
    border-radius: 0.5em;
    background-color: $sub-bg-dark-color;

    @include for-desktop {
      min-width: 12em;
      padding: 0;
      background-color: $main-bg-dark-color;
    }

    &::before {
      content: "Date & Time: ";
      color: $font-color-light;
      margin-right: 10px;
      @include for-desktop {
        content: none;
      }
    }

    & span {
      border-radius: 0.5em;
      padding: 0em 0.93em;
      display: inline-block;
    }

    & .blue {
      background-color: $blue-label-bg;
      color: $blue-label-bote;
      border: 1px solod $blue-label-bote;
    }

    & .grey {
      background-color: $grey-label-bg;
      color: $grey-label-bote;
      border: 1px solod $grey-label-bote;
    }
  }

  &__report {
    margin-top: 4em;

    @include for-tablet {
      margin-top: 1em;
    }

    @include for-desktop {
      margin-top: 0;
    }
    &::before {
      display: block;
      width: fit-content;
      content: "Report Item:";
      color: $font-color-light;
      padding: 0.2em 0.92em;
      border-radius: 0.5em;
      background-color: $sub-bg-dark-color;

      @include for-desktop {
        content: none;
      }
    }
    @include for-desktop {
      width: 58em;
    }

    .report-item__paragraph {
      margin-top: 1em;
      line-height: 2em;

      @include for-desktop {
        margin-top: -0.3em;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 1.25em;
      }
    }

    & ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      margin-top: 0.5em;

      @include for-desktop {
      }

      & li {
        padding: 0em 0.93em;
      }

      .report-item__location {
        color: $main-blue;
        padding: 0em;
        position: relative;
        margin-left: 1.5em;

        &::before {
          position: absolute;
          width: 0.5em;
          height: 0.5em;
          left: -1.5em;
          top: 0.1em;
          content: url(../../assets/images/location.svg);
        }
      }
      .report-item__category {
        color: $main-blue;
        position: relative;
        margin-left: 1.5em;

        &::before {
          position: absolute;
          width: 0.5em;
          height: 0.5em;
          left: -0.7em;
          top: 0.1em;
          content: url(../../assets/images/category.svg);
        }
      }
      .report-item__images {
        color: $main-blue;
        position: relative;
        margin-left: 0.7em;

        &::before {
          position: absolute;
          width: 0.5em;
          height: 0.5em;
          left: -0.7em;
          top: 0.1em;
          content: url(../../assets/images/images.svg);
        }
      }
      .report-item__creator {
        color: $main-blue;
        padding-right: 2em;
        position: relative;
        flex-grow: 2;
        display: flex;
        justify-content: end;

        & img {
          margin-right: 0.5em;
        }

        @include for-tablet {
          text-align: end;
        }
      }
    }
  }

  &__status {
    position: absolute;
    margin-top: 3em;
    padding: 0.2em 0.92em;
    border-radius: 0.5em;
    background-color: $sub-bg-dark-color;
    width: fit-content;

    @include for-tablet {
      right: 1.25em;
    }

    @include for-desktop {
      padding: 0;
      position: static;
      right: 0;
      min-width: 10em;
      margin-top: 0;
      background-color: $main-bg-dark-color;
    }

    &::before {
      content: "Status: ";
      color: $font-color-light;

      @include for-desktop {
        content: none;
      }
    }

    & span {
      border-radius: 0.5em;
      padding: 0em 0.93em;
    }

    & .red {
      background-color: $red-label-bg;
      border: 1px solid $red-label-bote;
      color: $red-label-bote;
    }

    & .green {
      background-color: $green-label-bg;
      border: 1px solid $green-label-bote;
      color: $green-label-bote;
    }
  }

  &__comments {
    width: fit-content;
    color: $font-color-light;
    padding: 0.2em 0.92em;
    border-radius: 0.5em;
    background-color: $sub-bg-dark-color;
    margin-top: 1em;

    @include for-desktop {
      padding: 0;
      min-width: 5.2em;
      background-color: $main-bg-dark-color;
      margin-top: 0;
    }

    &::before {
      content: "Comments: ";

      color: $font-color-light;

      @include for-desktop {
        content: none;
      }
    }
  }
}

.divider {
  border-top: 1px solid $grey-dark;
  margin: 0em 1.25em;
}
