// Main colors variables
// BG colors
$main-bg-dark-color: #1e1e2c;
$sub-bg-dark-color: #242636;

// Styling colors
$main-blue: #0277fa;
$grey-medium: #7b7b7b;
$grey-dark: #4e4f57;

// Label styling ---------------------------------------------------------------------------
$label-padding: 0 0.625em;
$label-border-radius: 0.5em;

// Light blue label
$blue-label-bg: #cce4ff;
$blue-label-bote: $main-blue;

// Grey label
$grey-label-bg: #c0c0c0;
$grey-label-bote: $sub-bg-dark-color;

// Light green label
$green-label-bg: #dafaef;
$green-label-bote: #0cc5a0;

// Light yellow label
$yewllow-label-bg: #fff7e6;
$yellow-label-bote: #ebbd50;

// Light red label
$red-label-bg: #ffe4e8;
$red-label-bote: #fb546b;

// Font styling --------------------------------------------------------------------------
$font-color-light: #fff;
$font-color-blue: $main-blue;

// Font sizes
$font-size-p: 1em;
$font-size-h4: 1.5em;
$font-size-h3: 2em;
$font-size-h2: 2.5em;
$font-size-h1: 3.5em;

$mobile-font-size-p: 1em;
$mobile-font-size-h4: 1em;
$mobile-font-size-h3: 1.5em;
$mobile-font-size-h2: 2em;
$mobile-font-size-h1: 2.5em;

// button main
