@use "../../assets/sass/sass-utils/" as *;

.header {
  display: flex;
  justify-content: space-between;
  max-width: 90em;
  margin: 0 auto;
}

.header-logo {
  margin: 1.25em;
}

.mobile-nav-toggle {
  cursor: pointer;
  align-self: center;
  display: block;
  position: absolute;
  z-index: 9999;
  background: url(../../assets/images/hamb.svg) no-repeat center center;
  border: 0px;
  background-size: 2em;
  width: 2em;
  aspect-ratio: 1;
  top: 1.5em;
  right: 2em;

  @include for-desktop {
    display: none;
  }

  &[aria-expanded="true"] {
    background: url(../../assets/images/x.svg) no-repeat;
    background-size: 2em;
    width: 2em;
    height: 2em;
  }
}

.header-nav {
  display: flex;
  align-items: center;

  &__list {
    position: fixed;
    height: 100%;
    z-index: 900;
    inset: 0 0 0 60%;
    background: $sub-bg-dark-color;
    display: flex;
    flex-direction: column;
    gap: 3.5em;
    padding-top: 6em;
    margin: 0;
    list-style: none;
    transform: translateX(100%);
    transition: transform 250ms ease-in;

    &[data-visible="true"] {
      transform: translateX(0%);
    }

    @include for-desktop {
      position: static;
      flex-direction: row;
      inset: 0 0 0 0;
      background: none;
      padding-top: 0;
      transform: none;
      margin-right: 1.25em;
    }

    &-item {
      @include for-desktop {
        align-self: center;
      }

      & a {
        color: white;
        text-decoration: none;
        font-size: 1.5em;

        @include for-desktop {
          font-size: 1em;
        }
      }

      & .activated {
        color: $main-blue;
        position: relative;

        &::before {
          content: url(../../assets/images/play.png);
          position: absolute;
          top: 45%;
          left: 0%;
          width: 0.5em;
          height: 0.5em;
          transform: rotate(90deg);

          @include for-desktop {
            left: 50%;
            top: 70%;
            transform: rotate(360deg);
          }
        }
      }
    }

    & .header-user {
      position: absolute;
      bottom: 2em;
      right: 2em;

      @include for-desktop {
        position: static;
        bottom: auto;
        right: auto;
        align-self: center;
      }

      a {
        display: flex;
        text-decoration: none;
        & p {
          padding: 0.5em 0.8em;
          margin-right: -8px;
          align-self: center;
          background-color: $main-blue;
          border-radius: 0.5em;
        }

        & img {
          vertical-align: baseline;
        }
      }
    }
  }
}
